input, select {
    margin-bottom: 20px;
    background-color: darkcyan;
    border-style:solid 1px;             
    
    
}

input[type=text] {
    width: 300pt;
}
fieldset {
    border-color: aquamarine;
    color:darkblue;
    padding: 40px;
    

}

legend {
    font-size: 30px;     
}

h1 {
    text-align: center;
    color: darkblue;

}

button {
    margin-top: 40px;
    margin-right: 20px;
    width: 80px;
    height:  40px;
    background-color: darkcyan;
}

#idFem {
    
}

#idMasc {

}

#idSerie::selection {
    
}